[submodule "dependencies/corgi"]
	path = dependencies/corgi
	url = https://github.com/google/corgi
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm
	branch = 0.9.8
